* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #ffffff;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  background-color: #f2f4f7;
  width: 100%;
  height: 30px;
  padding: 5px 0px;
}

.upper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.faq-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.order-place {
  display: flex;
  align-items: center;
}

.lang {
  display: flex;
  align-items: center;
  gap: 5px;
}

.upper-header a {
  color: black;
  font-size: 14px;
}

.status-bar p {
  color: #8b8e99;
  font-size: 14px;
}

.header-content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  width: 520px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
}

.search-box button {
  background-color: #f3f4f6;
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box button i {
  color: #4b5563;
  font-size: 18px;
}

.catalog {
  display: flex;
  align-items: center;
  gap: 20px;
}

.catalog a {
  display: flex;
  align-items: center;
  background-color: #f0f0ff;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.catalog a:hover {
  background-color: #d8d8fd;
}

.cart-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-section a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
}

.cart-link span {
  background-color: #7000ff;
  padding: 3px 5px;
  color: white;
  border-radius: 3px;
}

.header-category {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
}

.header-category a {
  color: #595b66;
  text-decoration: none;
  transition: color 0.2s ease;
}

.header-category a.active {
  color: #000;
  font-weight: 500;
}

.header-category a:hover {
  color: #000;
}

.header-category a:first-child {
  display: flex;
  align-items: center;
  gap: 8px;
}
.ad-banner {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.ad-banner .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ad-banner .swiper-button-next,
.ad-banner .swiper-button-prev {
  color: black;
  background-color: rgba(255, 255, 255, 0.507);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
  display: flex;
  transition: transform 0.8s linear;
  width: 100%;
}

.slides img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  flex-shrink: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  background-color: #e5e5e5c4;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.card img:hover {
  transform: scale(1.02);
  border-radius: 8px;
}

.card-info {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-info h3 {
  font-size: 15px;
  font-weight: 500;
  color: #474747;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #7000ff;
}

/* .card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
} */

.sale-products {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0 20px 0;
  gap: 10px;
}

.sale-products a {
  font-size: 28px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sale-products i {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.discount {
  color: #929292;
  font-size: 14px;
}

.card-bottom {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.rating i {
  color: rgb(255, 145, 0);
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  background-color: #7000ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.incart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.incart button {
  flex: 0.3;
  border: none;
  background-color: #f5f5f5;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.incart button:hover {
  background-color: #e0e0e0;
}

.incart span {
  flex: 1;
  text-align: center;
  font-weight: 500;
  color: #333;
}

footer {
  padding: 80px 0 20px 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.footer-nav a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.footer-nav a:first-child {
  color: black;
  font-weight: bold;
}
.footer-social {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  flex-direction: column;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.social-icons a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
}

.social-icons i {
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
}

.footer-bottom {
  padding: 20px 0;
  margin-right: 25px;
}

.footer-smm {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.footer-bottom p {
  text-align: end;
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.footer-copyright {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.footer-text {
  display: flex;
  align-items: center;
  gap: 20px;
}
