* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  background-color: #f2f4f7;
  width: 100%;
  height: 30px;
  padding: 5px 0px;
}

.upper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.faq-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.order-place {
  display: flex;
  align-items: center;
}

.lang {
  display: flex;
  align-items: center;
  gap: 5px;
}

.upper-header a {
  color: black;
  font-size: 14px;
}

.status-bar p {
  color: #8b8e99;
  font-size: 14px;
}

.header-content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  width: 520px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
}

.search-box button {
  background-color: #f3f4f6;
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box button i {
  color: #4b5563;
  font-size: 18px;
}

.catalog {
  display: flex;
  align-items: center;
  gap: 20px;
}

.catalog a {
  display: flex;
  align-items: center;
  background-color: #f0f0ff;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.catalog a:hover {
  background-color: #d8d8fd;
}

.cart-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-section a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
}

.cart-link span {
  background-color: #7000ff;
  padding: 3px 5px;
  color: white;
  border-radius: 3px;
}

.header-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
}

.header-category a {
  color: #595b66;
  text-decoration: none;
  transition: color 0.2s ease;
}

.header-category a.active {
  color: #000;
  font-weight: 500;
}

.header-category a:hover {
  color: #000;
}

.header-category a:first-child {
  display: flex;
  align-items: center;
  gap: 8px;
}
.ad-banner {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.ad-banner .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ad-banner .swiper-button-next,
.ad-banner .swiper-button-prev {
  color: black;
  background-color: rgba(255, 255, 255, 0.507);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
  display: flex;
  transition: transform 0.8s linear;
  width: 100%;
}

.slides img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  flex-shrink: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  background-color: #e5e5e5c4;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.card img:hover {
  transform: scale(1.02);
  border-radius: 8px;
}

.card-info {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-info h3 {
  font-size: 15px;
  font-weight: 500;
  color: #474747;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #7000ff;
}

/* .card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
} */

.sale-products {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0 20px 0;
  gap: 10px;
}

.sale-products a {
  font-size: 28px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sale-products i {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.discount {
  color: #929292;
  font-size: 14px;
}

.card-bottom {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.rating i {
  color: rgb(255, 145, 0);
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  background-color: #7000ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.incart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.incart button {
  flex: 0.3;
  border: none;
  background-color: #f5f5f5;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.incart button:hover {
  background-color: #e0e0e0;
}

.incart span {
  flex: 1;
  text-align: center;
  font-weight: 500;
  color: #333;
}

footer {
  padding: 80px 0 20px 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.footer-nav a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.footer-nav a:first-child {
  color: black;
  font-weight: bold;
}
.footer-social {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  flex-direction: column;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.social-icons a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
}

.social-icons i {
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
}

.footer-bottom {
  padding: 20px 0;
  margin-right: 25px;
}

.footer-smm {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.footer-bottom p {
  text-align: end;
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.footer-copyright {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.footer-text {
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-to-top i {
  background-color: #7000ff;
  padding: 10px 12px;
  color: white;
  border-radius: 50%;
}

.scroll-top {
  animation-name: appear;
  animation-timeline: scroll(y);
}

@keyframes appear {
  0% {
    opacity: 0;
    display: none;
    position: fixed;
  }

  3% {
    opacity: 0;
    display: none;
  }

  3.5% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
    position: fixed;
  }
}

.more-products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.more-products button {
  padding: 15px 10px;
  border: none;
  background-color: #f2f4f7;
  color: black;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 60%;
}

.error-message {
  animation: fadeIn 0.4s ease;
}

.error-message {
  background-color: #ffe6e6;
  color: #d8000c;
  padding: 12px 16px;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(255, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.total-price {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 10px;
  text-align: right;
  margin-bottom: 20px;
  width: 250px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  left: 1000px;
}

.total-price p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.language-select {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 2px;
  margin-bottom: 5px;
  outline: none;
}

.cart-wrap {
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 20px;
  margin-top: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.cart-info {
  flex: 0.6;
  text-align: left;
}

.cart-item p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  gap: 10px;
}

.cart-item img {
  width: 100px;
  height: 100px;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.cart-total {
  margin-top: 40px;
  height: 20rem;
  width: 40%;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 600;
  font-size: 1.2rem;
  gap: 20px;
  border: 1px solid #e0e0e0;
}

.cart-total button {
  margin: 0 auto;
  padding: 15px 50px;
  background-color: #7000ff;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 70px;
  width: 80%;
  height: 45px;
  font-size: 18px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-left: 5px;
}

.cart-count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* background-color: #474747; */
  padding: 10px 40px;
  border: 1px solid #e0e0e086;
  border-radius: 40px;
}

.cart-content button {
  background-color: #7000ff;
  border: none;
  padding: 10px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}

.cart-count span {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 5px 10px;
}

.cart-empty {
  background-color: #7000ff;
  padding: 20px 40px;
  border-radius: 10px;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  margin: 50px auto;
}
